@font-face {
    font-family: 'fontb267362fe0bf162719681f797a756433';
        
        src:    url('https://nomail.com.ua/files/eot/b267362fe0bf162719681f797a756433.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/b267362fe0bf162719681f797a756433.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/b267362fe0bf162719681f797a756433.woff2') format('woff2');
    }
    
@font-face { font-family: 'ArialMT';  src: local('ArialMT'), url('https://nomail.com.ua/files/woff/b267362fe0bf162719681f797a756433.woff') format('woff'); }

/*main styles*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif,ArialMT;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    height: 0;
}

.padding-site {
    padding-left: 50px;
    padding-right: 50px;
}

.container1 {
    width: 1280px;
    min-height: 100%;
    margin: 0 auto;
}


.header {
    background-color: #445161;
    height: 323px;
    box-sizing: border-box;
    position: relative;
}

.header-text {
    font-family: ArialMT;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.header-list-a{

font-family: ArialMT;
font-size: 20px;
line-height: 36px;
font-weight: 400;
color: #ffffff;
list-style-type: none;
text-decoration: none;
}

.header-block{
left:120px;
position: relative;
width: 469px;
height: 214px;
background-color: #ffffff;

}

.header-list{
margin-top: 19px;
}

.header-content{
width: 590px;
float: left;
margin-top: 50px;
}



.second {
    background-color: #ffffff;
    height: 295px;
    box-sizing: border-box;
    position: relative;
}

.second-text {
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-decoration: solid;
}

.second-list-a{
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    width: 581px;
}

.second-block{
position: relative;
width: 430px;
height: 245px;
background-color: #445161;
}

.second-list{
margin-top: 19px;
}

.second-content1{
width: 600px;
float: left;
margin-top: 50px;
}

.second-content2{
    position: relative;
    left:150px;
    width: 430px;
    float: left;
    margin-top: 50px;
    }

.tree{
    margin-top: 50px;
width: 1280px;
height: 400px;
background-color: #f5f5f5;
}

.tree-text {
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-decoration: solid;
    text-align: center;
    padding-top:50px ;
}

.plus {
    position: relative;
    width:32px;
    height:32px;
    background:#000;
    float: left;

  }
  
  .plus:before,
  .plus:after {
    content: "";
    position:absolute;
    background:#fff;
  }
  
  .plus:before {
    left:50%;
    top:4px;
    bottom:4px;
    width:5px;
    transform:translateX(-50%);
  }
  
  .plus:after {
    top:50%;
    left:4px;
    right:4px;
    height:5px;
    transform:translateY(-50%);
  }

  .tree-col{
    width: 500px;
    float: left;
    position: relative;
    margin: 20px;
}


.tree-p{
    font-family: ArialMT;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: #445161;
}

.four {
    background-color: #ffffff;
    height: 323px;
    box-sizing: border-box;
    position: relative;
}

.four-text {
    font-family: ArialMT;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.four-a{
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    width: 359px;
    height: 108px;
}

.four-block{

position: relative;
width: 200px;
height: 150px;
background-color: #445161;

}

.four-list{
margin-top: 19px;
}

.four-content{

float: left;
margin-top: 50px;
}



